<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}BFiCal{% endblock %}</title>
<link rel="stylesheet" href="/statics/css/style.css" type="text/css" title="default" />
<link rel="shortcut icon" href="/statics/images/favicon.ico" type="image/x-icon" />
{% block header %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19497144-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div id="logo"><a href="/"><span>An overview of what's on at the BFI</span></a></div>

<div class="clear"></div>

<div id="container">
{% block containertop %}<h2 id="top">The full BFI schedule for importing into iCal or Google Calendar is available <a href="/calendar/southbank/southbank.ics">here</a>. </h2>{% endblock %}
<div id="content">
{% block body %}{% endblock %}
</div>
<div class="clear"></div>
<div id="bottom">
    <div style="float: left;">BFiCal was created by <a href="http://github.com/benburry">Ben Burry</a></div>
    <div style="float: right;"><a href="/about">About</a></div>
</div>
</div>
</body>
</html>