{% extends "base.html" %}
{% block header %}<link rel="alternate" type="text/calendar" href="/calendar/{{ location }}/{{ location }}.ics" />{% endblock %}
{% block body %}
<div class="button">
    <div class="pnav">{% ifnotequal page 0 %}<a href="/{{ location }}/{{ page|add:"-1" }}">&lt;Prev</a>{% else %}&nbsp;{% endifnotequal %}</div>
    <div class="title">{% ifequal page 0 %}This week{% else %}Week starting {{ startdate|date:"jS M" }}{% endifequal %}</div>
    <div class="nnav">{% if showings %}<a href="/{{ location }}/{{ page|add:"1" }}">Next&gt;</a>{% else %}&nbsp;{% endif %}</div>
    <div class="clear"></div>
</div>
{% if showings %}
<ul>{% for showing in showings %}
    {% ifchanged showing.start.day %}
    <h3>{{ showing.start|date:"D jS M" }}</h3>
    {% endifchanged %}
    <li>{{ showing.start|date:"H:i" }}-{{ showing.end|date:"H:i" }} <a href="/event/{{ showing.parent.key }}">{{ showing.parent.name }}</a> {{ showing.location }}</li>
{% endfor %}</ul>
{% else %}
    <ul><p style="clear: both;">No showings found</p></ul>
{% endif %}
<div class="button">
    <div class="pnav">{% ifnotequal page 0 %}<a href="/{{ location }}/{{ page|add:"-1" }}">&lt;Prev</a>{% else %}&nbsp;{% endifnotequal %}</div>
    <div class="title">&nbsp;</div>
    <div class="nnav">{% if showings %}<a href="/{{ location }}/{{ page|add:"1" }}">Next&gt;</a>{% else %}&nbsp;{% endif %}</div>
    <div class="clear"></div>
</div>
{% endblock %}